* {
  box-sizing: border-box;
}

body {
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery li {
  width: calc((100% - 20px) / 3);
}

img {
  cursor: zoom-in;
}
